@import "tailwindcss";
@import "tailwindcss";

@theme {
  --color-dark-gray: #111415;
  --color-gray: #1a1c1e;
  --color-light-gray: #212529;
  --color-gray-text: #b1b1b1;
  --color-box: #212325;
  --color-red:#ff0000;
  --color-purple:#6157b6;
  --color-blue:#6490f0;
  --color-alert-box:#15252e
}
body{
   background-color:#121314 ;
   color: white;
}

.loader {
  width: 48px;
  height: 48px;
  border: 2px solid #FFF;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 3s linear infinite;
  }

  @keyframes rotation {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
  }